.current-ikon{
    position: relative;
    top: -8px;
    font-size: 40px;
    margin-right: 10px;
    animation-name: ani-rotate;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-duration: 3s;
}
@keyframes ani-rotate {
    0%{transform: rotate(0); }
    100%{transform: rotate(360deg);}
}

